<div id = "grid"></div>
<div id = "instructions">
	<p>Ant Colony is a grid anyone can use but which is mostly for <a href="https://en.wikipedia.org/wiki/Langton%27s_ant">ants</a> and not for you. You can still use it, it's just not for you is all.</p>
	<p>Use WASD to move around the grid. You're the square with the grey border.</p>
</div>