// Place all the styles related to the Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width: 25px;
  height: 25px;
  margin: 0.5px;
  border-style: solid;
  display: inline-block;
}

.row{
	white-space: nowrap;
}

#instructions{
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	width: 40%;
	line-height: 100%;
	margin-left: 20px;
}

#grid{
	display: inline-block;
}

.selected_box{
	animation: blink .5s step-end infinite alternate;
}

@keyframes blink{
	50% { border-color: #999999	}
}