// Place all the styles related to the Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width: 25px;
  height: 25px;
  margin: 1px;
  border-style: solid;
  display: inline-block;
}

.row{
	white-space: nowrap;
}